.container {
	display: flex;
	justify-content: center;
	padding: 1rem 0rem;
}

.inner_container {
	display: flex;
	justify-content: center;
}

.brand_image {
	display: flex;
	margin-right: 2rem;
}

.title {
	margin-left: 2rem;
	margin-right: 2rem;
}

.profile_image {
	display: flex;
	margin-left: 2rem;
}

.card {
	width: 18rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin: 1rem;
}
